@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, Neoneon;
  line-height: 1.5;
  font-weight: 400;
}
@font-face {
  font-family: 'Neoneon';
  src: url('./assets/fonts/NEONEON.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}